<!DOCTYPE html>
<html>
<head>
    <title>Churn Prediction</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styling.css') }}">
</head>
<body>
    <div class="container">
        <div class="left-container">
            <h1>Churn  Prediction</h1>
            {% if prediction is defined %}
                 <h3>Prediction: {{ prediction }}</h3>
            {% endif %}
        </div>

        <div class="form-container">
            <form method="POST">
                <label for="age">Age:</label><br>
                <input type="number" step="1" id="age" name="age" value="{{ age }}" min="0" max="80"
                        title="Please enter a valid number"><br><br>
                
                <label for="zip_code">Zip Code:</label><br>
                <input type="number" step="1" id="zip_code" name="zip_code" value="{{ zip_code }}" min="90001" max="96150"
                        title="Please enter a zipcode between 90001-96150"><br><br>
                
                <label for="contract_type">Contract Type:</label><br>
                <select id="contract_type" name="contract_type">
                    <option value="One Year" {% if contract_type == "One Year" %}selected{% endif %}>One Year</option>
                    <option value="Month-to-Month" {% if contract_type == "Month-to-Month" %}selected{% endif %}>Month-to-Month</option>
                    <option value="Two Year" {% if contract_type == "Two Year" %}selected{% endif %}>Two Year</option>
                </select><br><br>
                
                <label for="has_internet_service">Has Internet Service:</label><br>
                <select id="has_internet_service" name="has_internet_service">
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select><br><br>
                
                <label for="total_monthly_fee">Total Monthly Fee:</label><br>
                <input type="number" step="0.01" id="total_monthly_fee" name="total_monthly_fee" value="{{ total_monthly_fee }}" min="18.25" max="118.75"
                        title="Please enter a valid monthly fee"><br><br>
                
                <label for="payment_method">Payment Method:</label><br>
                <select id="payment_method" name="payment_method">
                    <option value="Credit Card">Credit Card</option>
                    <option value="Bank Withdrawal">Bank Withdrawal</option>
                    <option value="Mailed Check">Mailed Check</option>
                </select><br><br>
                
                <label for="tenure_months">Tenure Months:</label><br>
                <input type="number" step="1" id="tenure_months" name="tenure_months" value="{{ tenure_months }}" min="1" max="72"
                        title="Please enter a valid number"><br><br>
                
                <label for="num_referrals">Number of Referrals:</label><br>
                <input type="number" id="num_referrals" name="num_referrals" value="{{ num_referrals }}" min="0" max="11"
                        title="Please enter a valid number"><br><br>
                
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</body>
</html>